<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Home</title>
    {% load static %}
<script src="{% static 'js/jquery.js' %}" type="text/javascript"></script>
<script src="{% static 'js/bootstrap.js' %}" type="text/javascript"></script>
<script src="{% static 'js/bootstrap.min.js' %}" type="text/javascript"></script>
<link href="{% static 'css/bootstrap.css' %}" rel="stylesheet" type="text/css" />
<link href="{% static 'css/bootstrap-responsive.css' %}" rel="stylesheet" type="text/css" />
<script>
$(document).ready(function() {
	$('#rght_cat_bg').click(function() {
			$('.rght_list').toggle("slide");
	});
});
</script>
<script>
$(document).ready(function() {
	$('#opn_cat_bg').click(function() {
			$('.sub_dwn').toggle("slide");
	});
});
</script>
</head>

<body>
<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse"> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
      <a class="brand" href="">PPL</a>
      <div class="pro_info pull-right">
        <div class="pro_icn"><img src="{% static 'images/pic_small.png' %}"></div>
        <div class="pro_txt">Me<b class="caret"></b></div>
        <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
          <li><a tabindex="-1" href="#">My Profile</a></li>
          <li><a tabindex="-1" href="#">Message Box</a></li>
          <li><a tabindex="-1" href="#">Change Language</a></li>
          <li class="divider"></li>
          <li><a tabindex="-1" href="#">
            <input type="text" placeholder="search" >
            </a></li>
        </ul>
      </div>
      <div class="nav-collapse collapse">
        <ul class="nav">
          <li class="active"> <a href="">Home</a> </li>
          <li class=""> <a href="">E-Coupons</a> </li>
          <li class=""> <a href="">E-Brands</a> </li>
          <li class=""> <a href="">Resuse Market</a> </li>
          <li class=""> <a href="">Lost and Found</a> </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="header">
  <div class="header_lft">
    <div class="logo"><a href="#"><img src="{% static 'images/logo.png' %}"></a></div>
    <div class="navigatn">
      <ul>
        <li><a href="#" class="active">Home</a></li>
        <li><a href="#"> E-Coupons </a></li>
        <li><a href="#">E-Brands </a></li>
        <li><a href="#"> Resuse Market </a></li>
        <li><a href="#"> Lost and Found</a></li>
      </ul>
    </div>
  </div>
  <div class="header_rgt">
    <div class="flag_div"><img src="{% static 'images/flag.png' %}"></div>
    <input type="text" placeholder="Search" class="txt_box">
    <div class="msg_box"><a href="#"><span class="msg_count">100</span></a></div>
    <div class="info_div">
      <div class="image_div"> <img src="{% static 'images/pic.png' %}"> </div>
      <div class="info_div1">Me</div>
    </div>
  </div>
</div>
<div class="container">
  <div class="content">
    <div class="content_rgt">
      <div class="rght_btn"> <span
              class="rght_btn_icon"><img src="{% static 'images/btn_iconb.png' %}" alt="up" /></span> <span
              class="btn_sep"><img src="{% static 'images/btn_sep.png' %}" alt="sep" /></span> <a href="#">Upload Post</a> </div>
      <form action="/timeline/post/" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="file" name="image_post" value="browse"/>
        <input type="submit" value="submit"/>
      </form>
      <div class="rght_btn"> <span class="rght_btn_icon"><img src="{% static 'images/btn_icona.png' %}" alt="up" /></span> <span
              class="btn_sep"><img src="{% static 'images/btn_sep.png' %}" alt="sep" /></span> <a href="#">Add Categories</a> </div>
      <form action="/timeline/add_categories/" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="file" name="category" />
        <input type="text" name="name" value="">
        <input type="submit" value="submit" />
      </form>
      <div class="rght_cate">
        <div class="rght_cate_hd" id="rght_cat_bg">Categories</div>
        <div class="rght_list">
          <ul>
            {% for category in categories %}
            <li><a href="#"><span
                    class="list_icon"><img src="{{MEDIA_URL}}{{category.image}}" alt="up" height="50" width="50"/></span>{{category.name}}</a></li>
            {% endfor %}
          </ul>
        </div>
      </div>
      <div class="rght_cate">
        <div class="rght_cate_hd" id="opn_cat_bg">Featured</div>
        <div class="sub_dwn">
          <div class="feat_sec">
            <div class="feat_sec_img"><img src="{% static 'images/feat_img1.png' %}" alt="image" /></div>
            <div class="feat_txt">Lorem Ipusum Text</div>

          </div>
          <div class="feat_sec">
            <div class="feat_sec_img"><img src="{% static 'images/feat_img2.png' %}" alt="image" /></div>
            <div class="feat_txt">Lorem Ipusum Text</div>
            <div class="btm_rgt">
              <div class="btm_arc">Dogs</div>
            </div>
          </div>
          <div class="feat_sec">
            <div class="feat_sec_img"><img src="{% static 'images/feat_img3.png' %}" alt="image" /></div>
            <div class="feat_txt">Lorem Ipusum Text</div>
            <div class="btm_rgt">
              <div class="btm_arc">Rabbits</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="content_lft">
      <div class="contnt_1">
        <div class="list_1">
          <ul>
            <li>
              <input type="checkbox" class="chk_bx">
              Friends</li>
            <li>
              <input type="checkbox" class="chk_bx">
              Flaged</li>
          </ul>
        </div>
        <div class="timeline_div">
           <div class="timeline_div1">
             <div class="profile_pic">
               {% if user_profile %}
               <img src="{{MEDIA_URL}}{{user_profile.image.name}}">
               {% else %}
               <img src="#">
               {% endif %}
               <div class="profile_text">
                 <form action="/timeline/change_profile/" method="post" enctype="multipart/form-data">
                   {% csrf_token %}
                   <input type="file" name="profile_pic" />
                   <input type="text" name="description" value="" placeholder="define yourself here..."/>
                 <input type="submit" value="submit"/>
                 </form>
               </div>
             </div>
             <div class="profile_info">
               <div class="edit_div"><a href="/account/logout/">signout <img src="{% static 'images/timeline_img.png' %}"></a></div>
               <div class="profile_form">
                 <ul>
                  <li>
                    <div class="div_name1">UserName :</div>
                      <div class="div_name2">{{user}}</div>
                  </li>
                  <li>
                    <div class="div_name1">Sex :</div>
                    <div class="div_name2">Male</div>
                  </li>
                  <li>
                    <div class="div_name1">Description :</div>
                    {% if user_profile %}
                    <div class="div_name3">{{user.profile.description}}</div>
                    {% else %}
                    <div class="div_name3">No description</div>
                    {% endif %}
                  </li>
                 </ul>
               </div>
             </div>
           </div>
           <div class="timeline_div2">
           </div>

        </div>
      </div>
      {% for post in user_posts %}
      <div class="contnt_2">
        <div class="div_a">
          <div class="div_top">
            <div class="div_top_lft"><img src="{% static 'images/img_6.png' %}">{{post.created_by}}</div>
            <div
                    class="div_top_rgt"><span class="span_date">{{post.created_at.date}}</span>
          </div>
            <div class="div_image"><img src="{{MEDIA_URL}}{{post.image_url}}" alt="pet"/></div>
          <div class="div_btm">
            <div class="btm_list">
              <form action="/singlepost/" method="post">
                {% csrf_token %}
                <input type="text" name = "post_id" value="{{post.id}}" readonly/>
                <br/>
                <input type="submit" value="details">
              </form>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
  <div class="clear"></div>
</div>
<div class="footr">
  <div class="footr_lft">
    <div class="footer_div1">Copyright © Pet-Socail 2014 All Rights Reserved</div>
    <div class="footer_div2"><a href="#">Privacy Policy </a>| <a href="#"> Terms & Conditions</a></div>
  </div>
  <div class="footr_rgt">
    <ul>
      <li><a href="#"><img src="{% static 'images/social_1.png'%}"></a></li>
      <li><a href="#"><img src="{% static 'images/social_2.png'%}"></a></li>
      <li><a href="#"><img src="{% static 'images/social_3.png'%}"></a></li>
      <li><a href="#"><img src="{% static 'images/social_4.png'%}"></a></li>
    </ul>
  </div>
</div>
</body>
</html>
